<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean 등록 -->
	<!-- 
		Container는 bean 목록에서 bean을 찾을 때 고유한 이름으로 사용한다.
		만약, id를 생략하면 클래스명의 앞글자를 소문자로 하는 naming rule로 자동 bean의 id를 설정한다.
		class 속성은 bean으로 만들 객체의 타입을 풀 패키지명으로 작성한다.
	 -->
	
	
	<!-- MemberDTO member = new MemberDTO()와 같은 작업을 아래 설정값으로 등록하는 얘(기본생성자를 이용한다) -->
	<!-- id를 부여하지않으면 클래스명의 맨 앞글자를 소문자로 바꾼 후 사용하게 된다 -> memberDTO -->
	<bean id="member" class="com.greedy.section01.xmlconfig.MemberDTO">
		<!-- 생성자 쪽으로 값을 전달할 때 index와 name속성을 사용한다. -->
		<!-- 매개변수 있는 생성자의 순서(index) 혹은 필드명으로 값을 넣어줄수있다. -->
		<constructor-arg index="0" value="1"/> 
		<constructor-arg name="id" value="user01"/>
		<constructor-arg index="2"><value>pass01</value></constructor-arg>
		<constructor-arg name="name"><value>홍길동</value></constructor-arg>
	</bean>
</beans>
